.dashboard {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    height: 76vh;
    align-items: center;
    justify-content: center;

}

.customPagination {
    margin-left: auto;
}